@font-face {
    font-family: 'red';
    src: url('../fonts/RedHatDisplay-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'red';
    src: url('../fonts/RedHatDisplay-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'red';
    src: url('../fonts/RedHatDisplay-Regular.ttf');
    font-weight: 400;
}